# All file/folders are blacklisted
/*

!.gitignore
!.gitattributes
!LICENSE.md

!Source/
Source/*
!Source/RenderPasses/
Source/RenderPasses/*
!Source/RenderPasses/PhotonMapper/
!Source/RenderPasses/PhotonMapperHash/
!Source/RenderPasses/PTGBuffer/
!Source/RenderPasses/PTVBuffer/
!Source/Data/
!Source/Tools
Source/Tools/*
!Source/Tools/RenderGraphEditor
*.suo
*.db
