Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.ptx
*.pyc
*.VC.db
*.VC.opendb
.vs/*
.vscode/
*.pyc
*.o
*slang-dump-*
*.mp4
Source
!Source/RenderPasses/CollectPhotons
!Source/RenderPasses/GatherPhotons
!Source/Data

Media
Tools
Tests/data
*.tlog
